* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f0f1ef;
    font-family: 'gothambook';
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    margin: 0px auto;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'gothambook';
    max-width: 100%;
    background-color: #5276a4;
}

.logo {
    width: 200px;
    padding-left: 20px;
    padding-top: 5px;

}

.menu{
    width: 100%;
    display: flex;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    padding-right: 20px;
    flex-wrap: nowrap;

}

.menu-desktop-li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    margin-left: 0px;
}

.menu-desktop-li:hover {
    background-color: #f0f1ef;
    transition-duration: 0.5s;
}

.menu-a {
    font-size: 13pt;
    text-decoration: none;
    color: #f0f1ef;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.menu-a:hover{
    color:#5276a4;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu-mobile{
    display: none;
}

.menu-mobile:hover{
    background-color: #f0f1ef;
    transition-duration: 0.5s;
}

.menu-mobile-li:hover {
    background-color: #f0f1ef;
    transition-duration: 0.5s;
}

.menu-mobile-li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
}

.dropdown{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    margin-top: 39px;
    background: #5276a4;
}

.dropdown-a{
    font-size: 10pt;
    text-decoration: none;
    color: #f0f1ef;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.dropdown-a:hover{
    color:#5276a4;
}

.content{
    flex: 1 0 auto;
    padding: 0px 20px;
    background-image: url(../img/Logo_backT4.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 70%;
    background-size: 90%;
    background-origin: padding-box;

}

.signature{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signature-main{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-a {
    font-size: 15pt;
    text-transform: uppercase;
    color: #5276a4;
}

.sign-p{
    font-size: 13pt;
    color: #5276a4;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    margin: 70px auto 0px;
    background: #5276a4;
}

form input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #5276a4;
    outline: none;
    background: #f0f1ef;
    color: #9E9C9C;
    font-size: 10pt;
    -webkit-appearance: textfield;
}

form button {
    top: 0;
    right: 0px;
    width: 50px;
    height: 42px;
    border: none;
    background: #5276a4;
    border-radius: 0 5px 5px 0;
}

.search{
    width: 20px;
    padding-right: 1px;
}

.footer{
    width: 100%;

    bottom: 0;
    background-color: #5276a4;
    align-self: end;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f0f1ef;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px 0px;
    font-size: 10pt;
}

.table-tense{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    color: #5276a4;
    margin-bottom: 100px;
}

.table-tense td {
    border: 1px solid #5276a4;
    padding: 10px;
}

.table-tense th {
    background-color: #5276a4;
    color: #f0f1ef;
    border: 1px solid #5276a4;
    padding: 10px;
}

.color-text{
    color: black;
}

.color-text-2{
    color: grey;
}

.color-text-3{
    color: rgb(127, 155, 187);
}
.color-text-4{
    color: #204980;
    font-size: 14pt;
}

.color-back{
    background-color: rgb(216, 228, 241);
}

.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.text-space{
    margin-bottom: 15px;
}

.text-main{
    color: #f0f1ef;
    background-color: #5276a4;
    padding: 15px;
    margin-bottom: 15px;
}

.text h3{
    color: #5276a4;
}

.sign-verb{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-verb{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    color: #5276a4;
    margin-bottom: 100px;
}

.table-verb td {
    border: 1px solid #5276a4;
    padding: 30px;
}

.table-verb th {
    background-color: #5276a4;
    color: #f0f1ef;
    border: 1px solid #5276a4;
    padding: 10px;
}

.sign-p-not-up {
    font-size: 15pt;
    text-transform: uppercase;
    color: #e58281;
    margin-bottom: 30px;
}

.sign-p-not-down{
    font-size: 13pt;
    color: #5276a4;
    margin-bottom: 10px;
}

.verb-found{
    font-size: 13pt;
    color: #5276a4;
}

.mail-link {
    color: #f0f1ef;
}





.tableLog {
    border-collapse: collapse;
}

.tdLog {
    padding: 5px;
    border: 1px solid black;
}
