
@import 'fonts.css';

* {
    margin: 0px;
    padding: 0px;  
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

body {
    background-color: #f0f1ef;
    font-family: 'gothambook';

}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/background2.jpeg);
    background-size: cover;
}

.header {
    width: 100%;
    margin: 0px auto;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'gothambook';
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px 10px 0px 20px;
}

.color_white{
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}
.color_red {
    color: red;
    margin-bottom: 2px;
    margin-top: 2px;
}

.color_grey{
    color: #3a3c3e;
}

.logo{
    display: flex;
    flex-direction: row;
}

.menu{
    width: 100%;
    display: flex;
    height: 46px;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    /* padding-right: 20px; */
    flex-wrap: nowrap;
}

.menu-desktop-li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 45px;
    margin-left: 0px;
}

.menu-desktop-li:hover {
    /* background-color: #f0f1ef; */
    /* transition-duration: 0.5s; */
    /* border-bottom: 5px solid red; */
}

.menu-a {
    font-size: 12pt;
    text-decoration: none;
    /* color: #f0f1ef; */
    
    color: white;

    align-items: center;
    padding: 14px;
}

.profile{
    font-size: 12pt;
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 14px 27.5px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 125px;
}

.profile:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-li-dropdown {
    display: flex;
    list-style: none;
    height: 45px;
    margin-left: 0px;
    padding: 0 10px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    /* min-width: 130px; */
    z-index: 1;
    list-style: none;    
}

.dropdown-content a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 30%, rgba(255, 0, 0, 0.4)); */
}

.menu-li-dropdown:hover .dropdown-content {display: flex;}


.menu-a:hover{
    color: white;
    /* color:#5276a4; */
    /* transition-duration: 0.3s; */
    /* outline-style: solid; */
    /* outline-width: 10px; */

    /* border-bottom: 3px solid red; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 30%, rgba(255, 0, 0, 0.4));
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 30%, #5c2e2f); */

    /* background: linear-gradient(to bottom, #a0a0a0 30%, rgb(146, 52, 52)); */

    /* background: linear-gradient(to bottom, rgb(255, 255, 255, 0) 30%, rgba(255, 0, 0, 0.3)); */
    /* background: linear-gradient(to top, rgb(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.7)); */
}

/* ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
} */

/* .menu-mobile{
    display: none;
}

.menu-mobile:hover{
    background-color: #f0f1ef;
    transition-duration: 0.5s;
}

.menu-mobile-li:hover {
    background-color: #f0f1ef;
    transition-duration: 0.5s;
}

.menu-mobile-li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
} */

/* .dropdown{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    margin-top: 39px;
    background: #5276a4;
}

.dropdown-a{
    font-size: 10pt;
    text-decoration: none;
    color: #f0f1ef;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.dropdown-a:hover{
    color:#5276a4;
} */

.content{
    flex: 1 0 auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../img/back3.svg);
    background-size: 100%;
    background-repeat: no-repeat;  */
    /* margin-top: 200px; */
}

.main-content-verb{
    margin-top: 50px;
    flex: 1 0 auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    flex: 1 0 auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_content{
    display: flex;
    flex-direction: row;
}

.main_idea{
    display: flex;
    flex-direction: row;
    padding: 0px 20px 100px 20px;
    justify-content: space-between;
    min-height: 37vh;
}

.main_idea_text{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #3a3c3e;
}

.main_idea_name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verbs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 130px 20px;
    min-height: 60vh;
    width: 50vw;
    
}

.verbs_text{
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.verb_button{
    background-color: white;
    padding: 0px 43px;
    border-radius: 5px;
    border: none;
    height: 40px;
    display: flex;
    align-self: center;
}

.phrasal_verbs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 130px 20px;
    min-height: 60vh;
}



/* .screen{
    display: flex;
    flex-direction: column;
    
} */



.signature{
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: right; */
    
}

.sign-one {
    padding-top: 10px;
    font-size: 12pt;
    /* text-transform: uppercase; */
    /* color: #3a3c3e; */
    color: white;
    display: flex;
    width: 15%;
    flex-direction: column;
    /* align-items: right; */
    margin-bottom: 100px;
}

.sign {
     font-size: 17pt;
     color: white;
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
}

.sign-two{
    /* margin-top: 50px; */
    font-size: 17pt;
    /* color: #3a3c3e; */
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    /* align-self: center; */
}

.sign-p{
    font-size: 13pt;
    color: #858585;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 682px;
    height: 42px;
    /* margin: 30px 0px; */
    /* background: #3a3c3e; */
    justify-content: flex-end;
}

form input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 10pt;
  -webkit-appearance: textfield;
}

form button {
  top: 0;
  right: 0px;
  width: 50px;
  height: 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px 0px 0px 5px;
}

.search{
    width: 20px;
    padding-right: 1px;
}

.footer{
    width: 100%;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
    align-self: end;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f0f1ef;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 0px;
    font-size: 10pt;
}

.table-tense{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    /* color: #3a3c3e; */
    color: black;
    margin-bottom: 100px;
    width: 100%;
}

/* .table{
    width: 100%;
}

.table-tense tr{
    width: 100%;
} */

tbody {
    width: 100%;
}

.table-tense td, .table-verb td{
    border: 1px solid #3a3c3e;
    padding: 10px;
    text-align: center;
    width: 20%; 
    background-color: rgba(255, 255, 255, 0.2);
}

.table-tense th, .table-verb th{
    background-color: rgba(0, 0, 0, 0.4);
    color: #f0f1ef;
    border: 1px solid #3a3c3e;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.color-text{
    color: black;
}

.color-text-2{
    color: rgb(61, 61, 61);
}

.color-text-3{
    color: rgb(134, 134, 134);
    margin-bottom: 0px;
}

.color-text-4{
    color: white;
}

.color-back{
    background-color: rgba(0, 0, 0, 0.25);
}

.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-space{
    margin-bottom: 15px;
    color: white;
}

.text-main{
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* border: 3px solid rgba(0, 0, 0, 1); */
    background-color: rgba(255,255,255, 0.2);
    padding: 15px;
    margin-bottom: 15px;
    color: black;
}

.text h3{
    /* color: rgb(255, 0, 0); */
    color: black;
    /* background-color: rgba(255, 0, 0, 0.2); */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.4); */
}

.sign-verb{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table-verb{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    /* color: rgba(0, 0, 0, 0.7); */
    margin-bottom: 100px;
    width: 100%;
}

/* .table-verb td {
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
    border: 1px solid #3a3c3e;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.table-verb th {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f0f1ef;
    border: 1px solid #3a3c3e;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f0f1ef;
    border: 1px solid #3a3c3e;
    padding: 10px;
    text-align: center;
    width: 20%;
} */

/* .sign-p-not-up {
    font-size: 15pt;
    text-transform: uppercase;
    color: #e58281;
    margin-bottom: 30px;
}

.sign-p-not-down{
    font-size: 13pt;
    color: #5276a4;
    margin-bottom: 10px;
} */

.verb-found{
    font-size: 13pt;
    color: #5276a4;
}

.mail-link {
    color: #f0f1ef;
}

.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grammar-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
}

.circle{
    width: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.height-100 {
    height: 100%;
}
    
.w-auto {
    width: auto;
}
    
.form-input {
    /*width: auto;*/
    /*height: auto;*/
    /*-webkit-appearance: auto;*/
}

.search_box{
    margin-top: 20px;
}

.favourite, .change{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 2px 10px;
}

.favourite:hover, .change:hover{
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.favourite-verbs{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 10px;

}
.favourite-list{
    list-style: none;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}

.favourite-verb{
    color: white;
    padding: 10px 46.5vw;
    border-radius: 3px;
}

.favourite-verb:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.profile-info{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px;
    border-radius: 3px;
}

.account-info{
    display: flex;
    flex-direction: row;
    color: white;
}

.settings-title{
    margin-right: 20px;
}

.change-button{
    justify-content: center;
    align-items: center;
    align-self: center;
}